.viewer {
  width: min(70%, 450px);
  font-size: 10px;
  position: relative;
  background-color: #3b3838;
}

.viewer__header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #3b3838;
}

.viewer__numbers {
  display: inline-block;
  padding-left: 10px;
  width: 40px;
}

.viewer__window {
  position: absolute;
  width: calc(100% - 65px);
  height: 320px;
  top: 32px;
  left: 50px;
  line-height: 16px;
  color: #adadad;
  background-color: #242424;
}

.viewer__window>* {
  padding-left: 5px;
  cursor: crosshair;
}

.viewer__window>*>* {
  padding-left: 10px;
}

.viewer__line {
  background-color: #312e2e;
}

.line__number {
  display: inline-block;
  width: 20px;
  padding: 2px 0px 2px 10px;
  text-align: end;
}

.tag,
.prop,
.prop-text {
  padding: 0;
}

.tag {
  color:#21a700
}

.prop {
  color: #992d99
}

.prop-text {
  color: #8b6a23
}

[data-code="true"] .tag {
  color:#2ee700
}

[data-code="true"] .prop {
  color: #ff43ff
}

[data-code="true"] .prop-text {
  color: #ffc444
}
