.editor * {
  font-family: 'Martian Mono', monospace;
}

.editor {
  box-sizing: border-box;
  width: 50%;
  background-color: rgb(59, 56, 56);

}

.editor__header {
  font-size: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.editor__window {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.input-field {
  width: 78%;
  color: rgb(44, 255, 44);
  margin-right: auto;
  background-color: rgb(138, 131, 131);
  border-radius: 2px;
}

.input-field::placeholder {
  color: rgb(219, 255, 153);
}

.input-field:focus,
.input-field:active {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.btn {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  background-color: rgb(138, 131, 131);
  border-radius: 2px;
  cursor: pointer;
  margin-left: 5px;
  color: rgb(219, 255, 153);
  border: solid 3px rgb(77, 73, 73);
  border-width: 1px 1px 6px 1px;
}

.btn:hover {
  color: rgb(44, 255, 44);
}

.btn:active {
  border-width: 6px 1px 1px 1px;
}
