.editor * {
  font-family: 'Martian Mono', monospace;
}

#ace-editor {
  height: 100%;
  width: 80%;
}

.editor {
  box-sizing: border-box;
  width: min(70%, 450px);
  background-color: #3b3838;
  position:relative;
}

.editor__header {
  font-size: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.editor__window {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  background-color: #8a8383;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 5px;
  color: #dbff99;
  border: solid 3px #4d4949;
  border-width: 1px 1px 6px 1px;
  transition: all 0.1s linear;
}

.btn:hover {
  color: #2cff2c;
}

.btn:active {
  border-width: 6px 1px 1px 1px;
}
