.editor * {
  font-family: 'Martian Mono', monospace;
}

#ace-editor {
  height: 100%;
  width: 80%;
}

.editor {
  box-sizing: border-box;
  width: min(70%, 450px);
  background-color: rgb(59, 56, 56);
  position:relative;
}

.editor__header {
  font-size: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.editor__window {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  background-color: rgb(138, 131, 131);
  border-radius: 2px;
  cursor: pointer;
  margin-left: 5px;
  color: rgb(219, 255, 153);
  border: solid 3px rgb(77, 73, 73);
  border-width: 1px 1px 6px 1px;
  transition: all 0.1s linear;
}

.btn:hover {
  color: rgb(44, 255, 44);
}

.btn:active {
  border-width: 6px 1px 1px 1px;
}
