.footer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__ico {
  height: max(1.5vw, 20px);
  filter: invert(70%);
  transition: filter 0.3s ease-in-out;
}

.footer__ico:hover {
  filter: invert(100%);
}
