.table {
  position: relative;
  width: clamp(450px, 60%, 700px);
  min-height: 150px;
  margin-bottom: 30px;
  background-color: rgb(221, 170, 1);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../../assets/svg/Texture.svg");
  transform-origin: 50% 50%;
  transform: rotateX(10deg);
  box-shadow: 0px 10px 0px -4px rgb(142, 97, 0), 0px 10px 0px -4px rgb(142, 97, 0);
}

.table::after,
.table::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(104, 71, 0);
  transform-origin: 50% 50%;
  top: 155px;
}

.table::after {
  right: 5%;
  transform: skew(-10deg, 0deg);
}

.table::before {
  left: 5%;
  transform: skew(10deg, 0deg);
}

.table * {
  cursor: crosshair;
}

.table plate,
.table pan {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
  height: 100px;
  background-size: contain;
  transition: all 0.1s ease-in-out;
}

.table plate {
  background-image: url("../../assets/png/plate_default.png");
}

.table pan {
  background-image: url("../../assets/png/wok_default.png");
}

.table plate#red {
  background-image: url("../../assets/png/plate_active.png");
}

.table>*>steak {
  background-image: url("../../assets/png/steak_fresh.png");
}

.table>*>steak#cooked {
  background-image: url("../../assets/png/steak_grilled.png");
}

.table>*>* {
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  transition: all 0.1s ease-in-out;
}

.table egg.small {
  width: 20px;
  height: 20px;
}

.tooltip {
  height: 20px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  background-color: #484F56;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  position: absolute;
  bottom: 150%;
  z-index: 2;
  white-space: pre;
  transition: opacity 0.2s ease-in-out;
}

.tooltip_active {
  visibility: visible;
  opacity: 1;
}

[data-hovered="true"] {
  filter: drop-shadow(0px 0px 5px #2cffb9);
}

